<aside>
	{% include _google_search.html %}
	<div class="panel radius">
		<h3>良明</h3>
		<p>
			一个生活在温哥华的华人建筑设计师，希望自己多年来在温哥华的建筑设计经验能帮到生活在异国他乡的同胞们。
		</p>
	</div>

	<div class="row">
			<div class="medium-16 columns">
					<p>最新文章</p>
					{% include list-posts entries='4' %}
			</div><!-- /.medium-7.columns -->
	</div><!-- /.row -->

  <img class="b30" src="/images/yaju-homes.png" alt="Yaju Homes - custom home design and build">


	<div class="">
		<iframe width="100%" height="240" src="https://www.youtube.com/embed/_xMz2SnSWS4?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</aside>
